*.png
*.jpeg
*.mp4
*.joblib

Exp

a=1_b=2_alpha=1_m=3_beta=1_chi=-1_mu=1_nu=1_gamma=1_meshsize=50_time=0-4.jpeg

test.log
BatchExp/simulation_results.html
BatchExp/upload.sh

*.toc
*.gz
*.aux
*.log
*.out
*.gz
*.fls
*.fdb_latexmk
*.blg
*.run.xml
*.bcf

# Ignore the virtual environment


venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore folders and files that have been previously used. They unused or irrelevant files, or they may contain programs
# that do not work properly, or defective batches of numerical experiments
BatchExp/
BatchParameters/
ChiSimulation/
Deepseek_SHE.py
HSSpaper/
RKsimulation.py
sim.py
scratchtest.py
ChatGPT-O1_SHE.py
exactsimulation.py
build/

chemotaxis_sim.egg-info
chemotaxis_sim.egg-info